/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* petit-formal-script-regular - latin  --- I will use it instead "Wisdom Script"*/
@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 400;
  src: local('Petit Formal Script'), local('PetitFormalScript-Regular'),
    url('../fonts/petit-formal-script-v7-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/petit-formal-script-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* arapey-italic - latin --- I will use it instead "Droid Serif"*/
@font-face {
  font-family: 'Arapey';
  font-style: italic;
  font-weight: 400;
  src: local('Arapey Italic'), local('Arapey-Italic'),
    url('../fonts/arapey-v8-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/arapey-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --first-font: 'Montserrat', sans-serif;
  --second-font: 'Roboto Slab', serif;
  --third-font: 'Arapey', serif;
  --fourth-font: 'Petit Formal Script', serif;
  --first-color: #222222;
  --second-color: #fed136;
  --third-color: #777777;
  --fourth-color: #ffffff;
  --fifth-color: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--fourth-color);
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* ! Header */

.main-header-menu {
  padding: 42px 0px 106px 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-header-site-menu {
  display: flex;
}

.main-header-site-logo {
  font-size: 26px;
  font-family: var(--fourth-font);
  color: var(--first-color);
  font-weight: bold;
  line-height: 40px;
}

.main-header-site-menu-item:not(:last-child) {
  margin-right: 40px;
}

.main-header-site-menu-item-link {
  font-size: 14px;
  font-family: var(--first-font);
  color: var(--first-color);
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
}

.main-header-site-menu-item-link:hover,
.main-header-site-logo:hover,
.main-header-site-menu-item-link:focus,
.main-header-site-logo:focus {
  color: var(--second-color);
  transition: opacity 200ms linear, color 200ms linear;
}

/* ! Services */
.section-services {
  padding-bottom: 86px;
}

.section-title {
  margin-bottom: 10px;
  font-size: 40px;
  font-family: var(--first-font);
  color: var(--first-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
}

.section-subtitle {
  margin-bottom: 76px;
  font-size: 20px;
  font-family: var(--third-font);
  color: var(--third-color);
  line-height: 20px;
  text-align: center;
}

.section-service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-service-list-item {
  width: 274px;
}

.section-service-list-item::before {
  display: block;
  content: '';
  border-width: 3px;
  border-color: var(--second-color);
  border-style: solid;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--fourth-color);
  margin-bottom: 28px;
}

.section-service-list-item:nth-of-type(1)::before {
  background-image: url(../img/services/basket.png);
}
.section-service-list-item:nth-of-type(2)::before {
  background-image: url(../img/services/laptop.png);
}
.section-service-list-item:nth-of-type(3)::before {
  background-image: url(../img/services/locked.png);
}

.service-list-item-name {
  margin-bottom: 18px;
  font-size: 18px;
  font-family: var(--first-font);
  font-weight: 700;
  color: var(--first-color);
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.45px;
}

.service-list-item-description {
  font-size: 14px;
  font-family: var(--second-font);
  color: var(--third-color);
  line-height: 1.6;
  text-align: center;
  letter-spacing: -0.35px;
}

/* ! Contact us */
.section-contact-us {
  padding: 106px 0px 114px 0px;
  background-color: var(--first-color);
  background-image: url(../img/contact-us/map.png);
  background-repeat: no-repeat;
  background-position: top 120px right;
}
.section-contact-us-title {
  color: var(--fourth-color);
}

.section-contact-us-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-contact-us-form-input {
  display: block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: var(--fourth-color);
  width: 456px;
  height: 54px;
  padding-left: 20px;
  font-size: 14px;
  font-family: var(--first-font);
  color: var(--fifth-color);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.35px;
}

.section-contact-us-form input:not(:last-child) {
  margin-bottom: 26px;
}

.section-contact-us-form-textarea {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: var(--fourth-color);
  width: 456px;
  height: 214px;
  resize: none;
  padding-left: 20px;
  padding-top: 18px;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: var(--first-font);
  color: var(--fifth-color);
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.35px;
}

.section-contact-us-form-input:required:focus:valid:not(:placeholder-shown),
.section-contact-us-form-textarea:required:focus:valid:not(:placeholder-shown) {
  outline: 1px solid #008000;
}

.section-contact-us-form-input:required:focus:invalid:not(:placeholder-shown),
.section-contact-us-form-textarea:required:focus:invalid:not(:placeholder-shown) {
  outline: 1px solid #ff0000;
}

.section-contact-us-form-input::placeholder,
.section-contact-us-form-textarea::placeholder {
  font-size: 14px;
  font-family: var(--first-font);
  color: var(--fifth-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: -0.35px;
}

.section-contact-us-form-button {
  display: block;
  margin: auto;
  font-size: 18px;
  font-family: var(--first-font);
  color: var(--fourth-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border-radius: 3px;
  border-style: none;
  background-color: var(--second-color);
  width: 240px;
  height: 66px;
}
